.footer {
	background-color: #ffcccc;
}

.content {
	background-color: white;
	top: 85px;
}

#myTabContent {
	min-height: 300px;
}

#transit1_success, #transit2_success {
	padding-left: 10px;
}

body {
  padding-top: 75px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.welcomeUser {
  	padding-left: 20px;
	margin-left: -20px;
	padding-top: 5px;
}
@media (max-width: 979px) {
	.welcomeUser {
		padding-left: 10px;
		margin-left: -5px;
	}
}

.space {
	margin-bottom: 10px;
}

.weather {
	margin: 15px 0px;
	padding: 39px 19px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.weather:after {
	content: "Weather";
	position: absolute;
	top: 15px;
	left: 0px;
	padding: 3px 7px;
	background-color: whiteSmoke;
	border: 1px solid #DDD;
	color: #9DA0A4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
@media (max-width: 767px) {
	.weather:after {
		top: 0px;
	}

}

.bus {
	margin: 15px 0px;
	padding: 39px 19px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.bus:after {
	content: "Transit";
	position: absolute;
	top: 15px;
	left: 0px;
	padding: 3px 7px;
	background-color: whiteSmoke;
	border: 1px solid #DDD;
	color: #9DA0A4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

@media (max-width: 767px) {

	.bus:after {
		top: 0px;
	}

}

.relative {
	position: relative;
}

#map_canvas {
	width: 100%;
	height: 500px;
}