body {
	background: gray url(../media/background.gif) repeat fixed top left;
	height: 960px;
	width: 640px;
}

#weather {
	position: absolute;
	top: 75px;
	left: 75px;
	width: 490px;
	height: 490px;
	background-color: blue;
	overflow-y: scroll;
	font: normal normal normal 1em Arial, sans-serif;
	color: white;
}

#firstbus {
	top: 595px;
	left: 75px;
	background-color: red;
}

#secondbus {
	top: 595px;
	left: 345px;
	background-color: green;
}

#user-info {
	position: absolute;
	top: 10px;
	left: 75px;
}

.businfo {
	position: absolute;
	font: normal normal normal 2em Arial, sans-serif;
	color: white;
	width: 200px;
	height: 260px;
	padding: 20px 0px 0px 20px;
}